FASE3/node-red/flow-hivemq-cloud.json
[
  {
    "id": "tls-hivemq",
    "type": "tls-config",
    "name": "HiveMQ TLS",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "817c2430152f460ba0cb75228198eb57.s1.eu.hivemq.cloud",
    "verifyservercert": true
  },
  {
    "id": "mqtt-hivemq",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud",
    "broker": "817c2430152f460ba0cb75228198eb57.s1.eu.hivemq.cloud",
    "port": "8883",
    "clientid": "",
    "usetls": true,
    "tls": "tls-hivemq",
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "in-mqtt",
    "type": "mqtt in",
    "z": "flow",
    "name": "Vitals",
    "topic": "cardioia/grupo1/vitals",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt-hivemq",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 120,
    "y": 100,
    "wires": [["json"]]
  },
  {
    "id": "json",
    "type": "json",
    "z": "flow",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 300,
    "y": 100,
    "wires": [["chart","gauge","alert-switch","debug"]]
  },
  {
    "id": "chart",
    "type": "ui_chart",
    "z": "flow",
    "name": "BPM",
    "group": "ui-group",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "BPM",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados",
    "dot": false,
    "ymin": "0",
    "ymax": "200",
    "removeOlder": 1,
    "removeOlderPoints": 200,
    "removeOlderUnit": "3600",
    "useOneColor": false,
    "colors": ["#1f77b4","#aec7e8","#ff7f0e"],
    "outputs": 1,
    "useOldStyle": false,
    "x": 520,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "gauge",
    "type": "ui_gauge",
    "z": "flow",
    "name": "Temperatura",
    "group": "ui-group",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperatura (°C)",
    "label": "°C",
    "format": "{{payload.temp}}",
    "min": 30,
    "max": 42,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 37.5,
    "seg2": 38,
    "x": 540,
    "y": 120,
    "wires": []
  },
  {
    "id": "alert-switch",
    "type": "switch",
    "z": "flow",
    "name": "Alertas",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t":"jsonata","v":"$exists($.bpm) and $.bpm > 120"},
      {"t":"jsonata","v":"$exists($.temp) and $.temp > 38"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 160,
    "wires": [["ui-alert"],["ui-alert"]]
  },
  {
    "id": "ui-alert",
    "type": "ui_text",
    "z": "flow",
    "group": "ui-group",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Alerta",
    "label": "ALERTA",
    "format": "{{payload.bpm > 120 ? 'Taquicardia!' : (payload.temp > 38 ? 'Febre!' : '')}}",
    "layout": "row-spread",
    "x": 700,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug",
    "type": "debug",
    "z": "flow",
    "name": "Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 200,
    "wires": []
  },
  {
    "id": "ui-group",
    "type": "ui_group",
    "name": "CardioIA",
    "tab": "ui-tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui-tab",
    "type": "ui_tab",
    "name": "Monitor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "note",
    "type": "comment",
    "z": "flow",
    "name": "Após importar: configure usuário e senha no broker HiveMQ Cloud",
    "info": "Node-RED não exporta credenciais. Abra o nó do broker 'HiveMQ Cloud' e preencha usuário/senha.",
    "x": 360,
    "y": 40,
    "wires": []
  }
]

